@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body{
    font-family: Poppins;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

.hamburguer{

    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    }

.logo{
    transition: linear 0.3s all;
    margin-left: 10px;
}

.main{
    background: var(--green);
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: ease 0.3s all;
}

.inputWrap{

    display: flex;
    background: var(--light-green);
    border-radius: 10px;
    height: 50px;
    width: 225px;
    margin: 20px 0px;
    padding-left: 20px;
    align-items: center;
}

.buscar {
    font-size: 18px;
}

.input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
}

.closedInput{
    transition: all linear 0.3s;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-left: 20px;
}

.list{
    display: flex;
    align-items: center;
}

img{
    margin-right: 15px;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--light-green);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.paragraphs{
    margin-right:30px ;
    line-height: 16px;
}

p:nth-last-of-type(2){
    font-weight: 500;
}

p{
    transition: all linear 0.3s;
}

.photoUser{
    height: 45px;
    border-radius: 10px;
}

.closed{
    width: 78px;
}

